

body, html {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: .8rem;
}

:root {
  --clr-green: #B5BCB0;
}

header {
  z-index: 15;
  margin: 0;
}

main {
  padding-top: 5rem;
}

h1 {
  font-family: 'Libre Barcode 128 Text';
}

.checkoutDirectionSmallScreen {
  display: flex;
  flex-direction: row;
}

@media (max-width: 580px) {
  .checkoutDirectionSmallScreen {
    display: flex;
    flex-direction: column-reverse;
  }
 // color: white;
}